<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
  
<suite name="JAXRS Test Suite" >
  <test name="JAXRS Tests"   >
    <groups>
      <run>
        <exclude name="fails" />
      </run>
    </groups>
    <classes>
      <class name="com.andre.pphere.rest.object.ObjectMapperTest" />
      <class name="com.andre.pphere.rest.object.ObjectTest" />
      <class name="com.andre.pphere.rest.string.StringTest" />
      <class name="com.andre.pphere.rest.string.NegativeTest" />
<!--
      <class name="com.andre.pphere.rest.object.JaxbTest" />
      <class name="com.andre.pphere.rest.cxf.CxfClientTest" />
-->
    </classes>
  </test>
</suite>
