<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
  
<suite name="RPS Test Suite" >
  <test name="RPS Tests"   >
<!--
    <groups>
      <run>
        <exclude name="ref"/>
      </run>
    </groups>
-->
    <classes>
<!--
      <class name="com.paypal.ppmn.rps.dao.LoadTest" />
      <class name="com.paypal.ppmn.rps.api.ThreadLoadTest" />
      <class name="com.paypal.ppmn.rps.dao.ThreadLoadTest" />
-->
      <class name="com.paypal.ppmn.rps.api.RestTest" />
      <class name="com.paypal.ppmn.rps.mapper.MapperTest" />
      <class name="com.paypal.ppmn.rps.dao.DaoTest" />
      <class name="com.paypal.ppmn.rps.client.SimpleTest" />
      <class name="com.paypal.ppmn.rps.client.ThreadLoadTest" />
    </classes>
  </test>
</suite>
